* {
    box-sizing: border-box;
}

/* sidebar start */

.sidebar {
    background-color: #fff;
    width: 23vw;
    height: 100vw;
    position: fixed;
    top: 0;
    padding: 0;
}

.sidebar img {
    width: 43%;
    margin: 20px 20px 20px;
    border-radius: 4px;    
} 

.sidebar h2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar p {
    margin-left: 20px;
    opacity: 0.4;
    font-weight: bold;
}

.side-menu {
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.side-menu li {
    padding: 10px 10px 10px 0px;
}

.side-menu li:hover {
    background-color: rgba(17, 2, 2, 0.603);
}

.side-menu a {
    font-size: 20px;
    margin-left: 20px;
    color: #009688;
    text-decoration: none;
}

.side-menu a i {
    margin-right: 15px;
}

.social-bar {
    display: flex;
    margin-left: 15px;
}

.social-bar i {
    margin: 5px;
    cursor: pointer;
}

.social-bar i:hover {
    opacity: 0.7;
}

/* sidebar */

/* header start */

main {
    margin-left: 23vw;
    background-color: #f1f1f1;
}

header {
    margin-left: 23vw;
    background-color: #f1f1f1;
    padding: 20px;
}

.ul-img {
  display: flex;
  justify-content: space-between;
} 

.ul-img img {
  width: 60px;
  margin-top: 20px;
  border-radius: 50%;
  display: none;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
}

header ul {
    display: flex;
    margin-left: 5px;
    margin-top: 30px;
}

header ul li {
    margin: 10px;
    background-color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

header li:nth-child(1){
    background-color: black;
    color: white;
}

header li:nth-child(1):hover{
    background-color: rgba(19, 4, 4, 0.205);
    color: black;
}

header li i {
    margin-right: 15px;
}

header li:hover {
    background-color: rgba(19, 4, 4, 0.205);
}

.line {
    background-color: rgba(19, 4, 4, 0.205);
    height: 6px;
    margin-top: 10px;
}

/* header end */

/* main start */

.container {
    background-color: #f1f1f1;
    width: auto;
    display: flex;
    flex-wrap: wrap;

}

.card {
    margin-left: 20px;
    margin-bottom: 20px;
}

.card:hover {
    opacity: 0.6;
}

.pagination {
    display: inline-block;
    margin-left: 30%;
    margin-top: 20px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .about {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .about-text {
    margin-left: 40px;
  }

  .about-text h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .about-text p {
    font-size: 15px;
  }

  .skills {
    margin-left: 40px;
    margin-right: 45px;
    margin-top: 50px;
  }

  .skills h5 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .skills p {
    font-size: 20px;
  }

  .scale {
    background-color: rgb(158,158,158);
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    }

  .scale div {
    height: 35px;
    background-color: rgb(97,97,97);
    width: 95%;
    color: #fff;
    text-align: center;
    line-height: 35px;
  }

  .scale-second {
    background-color: rgb(158,158,158);
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    }

  .scale-second div {
    height: 35px;
    background-color: rgb(97,97,97);
    width: 85%;
    color: #fff;
    text-align: center;
    line-height: 35px;
  }
  .scale-three {
    background-color: rgb(158,158,158);
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    }

  .scale-three div {
    height: 35px;
    background-color: rgb(97,97,97);
    width: 75%;
    color: #fff;
    text-align: center;
    line-height: 35px;
  }

  .skills button {
    font-size: 20px;
    height: 50px;
    border-radius: 0px;
    background-color: rgb(97,97,97);
    color: #fff;
  }

  .skills button:hover {
    background-color: rgb(158,158,158);
  }

.all-cards {
    display: flex;
    
}

  .card-percent {
    margin-left: 40px;
    background-color: black;
    margin-top: 60px;
    opacity: 0.7;
    border: 1px solid rgb(197, 197, 197);
  }

  .list-group-item {
    background-color: #fff;
    margin-bottom: 0px;
  }

  .list-group-item:nth-last-child(1){
    background-color: rgb(241,241,241);
  }

  .card-percent:hover {
    opacity: 1;
  }

  span {
    font-size: 20px;
    opacity: 0.5;
    font-weight: lighter;
  }

  .list-group button {
    background-color: rgb(96,186,178);
    border: none;
    color: #fff;
    width: 100px;
    height: 40px;
  }

  .list-group button:hover {
    background-color: black;
  }

  /* contact */

  .contact {
    background-color: rgb(158,158,158);
    margin-top: 60px;
  }

  form {
    margin-left: 40px;
    width: 91%;
    margin-top: 40px;
  }

  .contact-icon {
    margin-left: 40px;
    margin-top: 20px;
    background-color: #fff;
    display: flex;
    width: 91%;
    height: 100px;
    text-align: center;
    align-items: center;
  }

  .contact-icon div:nth-child(1){
    flex-grow: 1;
    background-color: rgb(97,97,97);
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .contact-icon div:nth-child(2){
    flex-grow: 1;
    background-color: rgb(0,150,136);
    height: 100px;
    line-height: 50%;
  }

  .contact-icon div:nth-child(3){
    flex-grow: 1;
    background-color: rgb(97,97,97);
    height: 100px;
  }
  .contact h6 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    line-height: 80px;
  }

  .icon {
    line-height: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
  }

  .icon {
    line-height: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
  }

  .number {
    line-height: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
  }
  
  .line {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 91%;
    height: 1px;
    background-color: #fff;
    margin-left: 40px;
  }

  form label {
    margin-bottom: 5px;
    font-size: 20px;
  }

  form button {
    border: none;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    background-color: black;
    margin-top: 20px;
    padding: 8px 16px
    }

  form button:hover {
    background-color: rgb(197, 197, 197);
    color: black;
  }

  /* contact end */

  /* main end */

  /* footer start */

  footer {
    margin-left: 23vw;
    background-color: rgb(97,97,97);
    margin-top: 0px;
  }

  .content-footer {
    width: 91%;
    display: flex;
    margin-left: 40px;
    height: 250px;
  }

  .footer-first {
    width: 33%;
    margin-top: 10px;
  }

  .footer-first p {
    color: #fff;
    font-size: 15px;
  }

  .footer-first p:nth-child(1){
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-second {
    width: 33%;
    margin-top: 40px;
    margin-left: 40px;
  }

  .footer-second p{
    color: #fff;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .footer-second p:nth-child(1){
    font-size: 25px;
  }

  .footer-three {
    width: 33%;
    margin-top: 40px;
    margin-left: 40px;
  }

  .footer-three p {
    color: #fff;
    font-size: 25px;
    margin-bottom: 30px;
  }

  .footer-second img {
    width: 45px;
    float: left;
  }

  .space {
    background-color: #fff;
    width: 100%;
    height: 2px;
  }

.footer-three ul {
  display: flex;
  flex-wrap: wrap;
}

.footer-three li {
  background-color: rgb(197, 197, 197);
  margin: 5px;
  padding: 5px;
}

.footer-three li:nth-child(1){
  background-color: black;
  color: #fff;
}

/* footer end */

/* Phone style css */

@media screen and (max-width: 768px) {

  .sidebar {
    display: none;
  } 



  header,main,footer {
    margin-left: 0px;
    transition: 2sn;
  }

  .ul-img img {
    display: block;
  }

  .container img {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .social-bar {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
    .container, .skills, .all-cards{
      display: flex;
      flex-direction: column;
      
    }
}